<!--
  The context has a key named "names" in it
  that is a list of names.

  Now, create an ORDERED LIST of names. Instead
  of using the ul tag, use the ol tag. The rest
  should remain the same.
-->
<!doctype html>
<html lang="en">
  <head>
    <title>Problem 009</title>
  </head>
  <body>
    <main>
      <!-- Build the ORDERED list of names -->

      <ol>                                        <!-- solution -->
        {% for name in names %}                   <!-- solution -->
          <li>{{ name }}</li>                     <!-- solution -->
        {% endfor %}                              <!-- solution -->
      </ol>                                       <!-- solution -->
    </main>
  </body>
</html>
